
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 1px 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
    box-sizing: border-box;

}

body {
    background-color: #fcfbfb;
    max-width: 1600px;
    /* font-family: Raleway, Arial, sans-serif; */
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #14213d;
}

nav a:hover {
    background-color: aliceblue;
    color: black;
}

.book {
    text-align: center;
    color: #5E0B15;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;

}

.join {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;
}

.book:hover {
    background-color: #14213d;
    color: white   
}

.join:hover {
    background-color: #14213d;
    color: white;
}

#background {
    background-color: #14213d;
    height: 725px;
    margin: 150px 0;
}

.msg {
    margin: 150px 0;
    padding: 35px;
    line-height: 1.5em;
    background-color:#D4AC0D
}

footer {
    margin-top: 200px;
    padding: 25px 50px;
    background-color: #14213d;
}

.home-title {
    margin-top: 10px;
    font-family: "Rock Salt", "Brady Hand", Sans-Serif;
    font-size: 2em;
    color: #D4AC0D;
}

h4 {
    color: #5E0B15;
}

.msg h2 {
    color: black;
}

h2 {
    margin: 0 0;
}

.msg p {
    padding-bottom: 15px;
    color: black;
}


footer p a {
    text-align: center;
    color: white;
    text-decoration: none;
}
    
footer p a:hover {
    background-color: aliceblue;
    color: black;
}

.logo {
    width: 80px;
}

#logo link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer p {
    font-size: 1.2em;
    color: white;
}

.rivers-card, .camping-card, .rapids-card {
    color: #5E0B15;
    margin: 200px 0;
}

footer .social img {
    padding-top: 15px;
}

.card-img {
    border: 10px solid #D4AC0D;
}

main section img {
    box-sizing: border-box;
}